:root {
  --main-navy: #003049;
  --main-red: #d62828;
  --main-orange: #f77f00;
  --main-ltorange: #fcbf49;
  --main-cream: #eae2b7;
}

/* base reset */
* {
  margin:0;
  padding:0;
}

/* box-sizing and font sizing */
*,
*::before,
*::after {
  box-sizing: inherit;
}

html{
  box-sizzong: border-box;
  
  /* Set font size for easy rem calculations
   * default document font size = 16px, 1rem = 16px, 100% = 16px
   * (100% / 16px) * 10 = 62.5%, 1rem = 10px, 62.5% = 10px
  */
  font-size: 62.5%;
  scroll-behavior: smooth;
}