:root {
  --main-navy: #003049;
  --main-red: #d62828;
  --main-orange: #f77f00;
  --main-ltorange: #fcbf49;
  --main-cream: #eae2b7;
}

/* base reset */
* {
  margin: 0;
  padding: 0;
}

/* box-sizing and font sizing */
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;

  /* Set font size for easy rem calculations
   * default document font size = 16px, 1rem = 16px, 100% = 16px
   * (100% / 16px) * 10 = 62.5%, 1rem = 10px, 62.5% = 10px
  */
  font-size: 62.5%;
  scroll-behavior: smooth;
}
/* A few media query to set some font sizes at different screen sizes.
 * This helps automate a bit of responsiveness.
 * The trick is to use the rem unit for size values, margin and padding.
 * Because rem is relative to the document font size
 * when we scale up or down the font size on the document
 * it will affect all properties using rem units for the values.
*/

/* I am using the em unit for breakpoints (per FCC)
 * The calculation is the following
 * screen size divided by browser base font size
 * As an example: a breakpoint at 980px
 * 980px / 16px = 61.25em
*/

/* 1200 / 16px = 75em */
@media (max-width: 75em) {
  html {
    font-size: 60%;
  }
}

/* 980 / 16px = 61.25em */
@media (max-width: 61.25em) {
  html{
    font-size: 58%;
  }
}

/* 460px / 16px = 28.75em */
@media (max-width: 28.75em) {
  html {
    font-size: 55%;
  }
}

/* Base styles */

body {
  font-family: sans-serif;
  font-size: 1.8rem; /* 18px */
  font-weight: 400;
  line-height: 1.4;
  color: var(--main-cream)
}

h1,
h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  text-align: center;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 4rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--main-cream)
}

img {
  display: block;
  width: 100%
}

/* nav */