@import url('https://fonts.googleapis.com/css2?family=Mystery+Quest&display=swap');


body {
  content: '';
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
 
  background-image: 
    url(https://i.pinimg.com/originals/43/f2/28/43f2287e150fe1b49dd2a92ae37666b2.jpg
);
  background-size: cover;  
  background-repeat: no-repeat;
  background-position: center;
}

#title {
  font-family: 'Mystery Quest', sans-serif;
  color: white;
  background: rgba(81, 99, 71, 0.85);
  height: 100%;
  width: 50%;

}

p {
  color: white;
  
}
#survey-form {
   background: rgba(81, 99, 71, 0.65);
   padding: 10px;
   margin: 20px;
}

.text-center {
  text-align: center;
}

#description {
  font-size: 1.25em;
  padding: 15px;
  background: rgba(81, 99, 71, 0.5);
}

.questions {
  font-size: 1.5em;
  margin: 10px;
  font-family: 'Mystery Quest', sans-serif;
  
}

#name-label,
#email-label,
#number-label,
.input-radio
{
  color: white;
  font-family: roboto, sans-serif; 
}

.personal-info {
  display: flex;
  flex-direction: column;
}

#email,
#name {
  width: 25%;
  margin-bottom: 10px;
}

#name-label {
  margin: 10px;
}

#email-label {
  margin-left: 50px;
}

#number {
  width: 30%;
  margin-bottom: 10px;
  margin-left: 10px;
}

#number-label {
  margin: 10px;
}

.input-textarea {
  resize: none;
  width: 59%;
  margin-bottom: 10px;
}

.form-control {
  margin: 10px
}